html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Inter", sans-serif;
}

.container {
  display: flex;
  width: 100%;
  padding: 0px 32px;
  justify-content: space-between;
  align-items: center;
}

.navigator {
  display: flex;
  padding: 20px 160px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
}

.container .right_side {
  display: flex;
  align-items: center;
}

.burg {
  display: none;
}

.menu {
  display: flex;
  align-items: center;
}

a {
  text-decoration: none;
  color: #272D37;
  cursor: pointer;
}

.right_side .lgo {
  margin-right: 64px;
}

.ourProduct {
  margin-left: 32px;
  margin-right: 32px;
}

.chevron {
  margin-right: 32px;
}

.secondButton {
  background-color: #437EF7;
  color: white;
  padding: 12px 18px;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
  border: transparent;
  border-radius: 6px;
  cursor: pointer;
}

.firstButton {
  background-color: white;
  color: #437EF7;
  padding: 12px 18px;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
  border: transparent;
  border-radius: 6px;
  cursor: pointer;
}

@media (max-width: 1440px) {
  .navigator {
    padding: 16px 16px;
  }
  .container {
    padding: 16px 16px;
  }
  .container .lgo {
    width: 128px;
    height: 32px;
  }
  .container .left_side {
    display: none;
  }
  .container .burg {
    display: initial;
  }
  .container .menu {
    display: none;
  }
}
@media (max-width: 768px) {
  .navigator {
    padding: 16px 16px;
  }
}
#landing-page {
  background-color: #FFFFFF;
  width: 100%;
}
#landing-page .first-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  gap: 48px;
  margin-top: 48px;
  justify-content: center;
}
#landing-page .underHead {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  color: #5f6d7e;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: -0.1px;
  margin-top: 24px;
  width: 900px;
}
#landing-page .supercharged {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  color: #272d37;
  text-align: center;
  font-size: 52px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: -0.52px;
  align-items: center;
  justify-content: center;
  width: 900px;
}
#landing-page .getStarted {
  background-color: #437EF7;
  color: white;
  padding: 12px 18px;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
  border: transparent;
  border-radius: 6px;
  cursor: pointer;
  margin-right: 16px;
}
#landing-page .contactUs {
  background-color: #FFFFFF;
  color: #272d37;
  padding: 12px 18px;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
  border: transparent;
  border-radius: 6px;
  cursor: pointer;
}
#landing-page .buttonFlex {
  display: flex;
}
#landing-page .paint {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 48px;
  z-index: -1;
}
#landing-page .ourChannel {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  color: gray-700, #272d37;
  text-align: center;
  /* Headline M/Desktop/Bold */
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: -0.64px;
  height: 40px;
  padding-top: 64px;
}
#landing-page .secondContainer {
  width: 100%;
  flex-direction: column;
  align-items: center;
  gap: 48px;
  margin-top: 48px;
  margin-top: -69px;
  background-color: #FFFFFF;
}
#landing-page .underHead2 {
  color: #5f6d7e;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.1px;
  margin-top: 16px;
}
#landing-page .secondHead {
  padding: 0px 32px;
}
#landing-page .showMore {
  background-color: #FFFFFF;
  color: #272d37;
  padding: 12px 18px;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
  border: transparent;
  border-radius: 6px;
  cursor: pointer;
  border-radius: 6px;
  border: 1px solid var(--neutral-700, #dae0e6);
}
#landing-page .iconButtonFlex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#landing-page .enimNec {
  display: flex;
  flex-direction: column;
  color: var(--gray-50, #5f6d7e);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.1px;
  width: 320px;
}
#landing-page .wireles {
  flex-direction: column;
  align-self: stretch;
  color: #272d37;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: -0.22px;
  margin-top: 24px;
}
#landing-page .allBoxes {
  margin-top: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#landing-page .allBoxes .boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 32px;
       column-gap: 32px;
  row-gap: 32px;
}
#landing-page .allBoxes .boxes .box {
  display: flex;
  padding: 24px 32px;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 5px;
  border: 1px solid #eaebf0;
  background: var(--base-white, #fff);
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.04);
  display: inline-block;
  background-color: red;
}
#landing-page .showMore {
  background-color: #FFFFFF;
  color: #272d37;
  padding: 12px 18px;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
  border: transparent;
  border-radius: 6px;
  cursor: pointer;
  border-radius: 6px;
  border: 1px solid var(--neutral-700, #dae0e6);
}
#landing-page .iconButtonFlex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#landing-page .nequeUt {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  color: var(--gray-50, #5f6d7e);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.1px;
  width: 320px;
}
#landing-page .synergestic {
  flex-direction: column;
  align-self: stretch;
  color: #272d37;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: -0.22px;
  margin-top: 24px;
}
#landing-page .showMore {
  background-color: #FFFFFF;
  color: #272d37;
  padding: 12px 18px;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
  border: transparent;
  border-radius: 6px;
  cursor: pointer;
  border-radius: 6px;
  border: 1px solid var(--neutral-700, #dae0e6);
}
#landing-page .iconButtonFlex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#landing-page .aliquete {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  color: var(--gray-50, #5f6d7e);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.1px;
  width: 320px;
}
#landing-page .distributed {
  flex-direction: column;
  align-self: stretch;
  color: #272d37;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: -0.22px;
  margin-top: 24px;
}
#landing-page .showMore {
  background-color: #FFFFFF;
  color: #272d37;
  padding: 12px 18px;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
  border: transparent;
  border-radius: 6px;
  cursor: pointer;
  border-radius: 6px;
  border: 1px solid var(--neutral-700, #dae0e6);
}
#landing-page .iconButtonFlex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#landing-page .lacus {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  color: var(--gray-50, #5f6d7e);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.1px;
  width: 320px;
}
#landing-page .seemles {
  flex-direction: column;
  align-self: stretch;
  color: #272d37;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: -0.22px;
  margin-top: 24px;
}
#landing-page .showMore {
  background-color: #FFFFFF;
  color: #272d37;
  padding: 12px 18px;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
  border: transparent;
  border-radius: 6px;
  cursor: pointer;
  border-radius: 6px;
  border: 1px solid var(--neutral-700, #dae0e6);
}
#landing-page .iconButtonFlex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#landing-page .mauris {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  color: var(--gray-50, #5f6d7e);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.1px;
  width: 320px;
}
#landing-page .revolutionary {
  flex-direction: column;
  align-self: stretch;
  color: #272d37;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: -0.22px;
  margin-top: 24px;
}
#landing-page .revalAllChannels {
  background-color: #437EF7;
  color: white;
  padding: 12px 18px;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
  border: transparent;
  border-radius: 6px;
  cursor: pointer;
  margin-bottom: 64px;
}
#landing-page .secondContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}
#landing-page .showMore {
  background-color: #FFFFFF;
  color: #272d37;
  padding: 12px 18px;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
  border: transparent;
  border-radius: 6px;
  cursor: pointer;
  border-radius: 6px;
  border: 1px solid var(--neutral-700, #dae0e6);
}
#landing-page .iconButtonFlex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#landing-page .mauris {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  color: var(--gray-50, #5f6d7e);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.1px;
  width: 320px;
}
#landing-page .web-enabled {
  flex-direction: column;
  align-self: stretch;
  color: #272d37;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: -0.22px;
  margin-top: 24px;
}
#landing-page .thirdContainer {
  margin-top: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#landing-page #head3 {
  display: flex;
  flex-direction: column;
  color: var(--gray-700, #272d37);
  text-align: center;
  /* Headline M/Desktop/Bold */
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: -0.64px;
}
#landing-page #under-head {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  color: var(--gray-50, #5f6d7e);
  text-align: center;
  /* Text L/Regular */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.1px;
}
#landing-page .onePercent {
  color: var(--primary-600, #437ef7);
  /* Text S/Semibold */
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: -0.1px;
}
#landing-page .demonstrateBranding {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  color: #272d37;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 42px;
  letter-spacing: -0.32px;
  width: 516px;
  margin-top: 8px;
}
#landing-page .textInContent {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  color: #5f6d7e;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.1px;
  width: 516px;
  margin-top: 16px;
}
#landing-page .salaryImage {
  width: 100%;
}
#landing-page .fourthContainer {
  background-color: #2b63d9;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 64px;
}
#landing-page .leftSide2 {
  padding: 64px 0px;
}
#landing-page .onePercent2 {
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: -0.1px;
}
#landing-page .demonstrateBranding2 {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-self: stretch;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 42px;
  letter-spacing: -0.32px;
  width: 516px;
  margin-top: 8px;
}
#landing-page .textInContent2 {
  color: #b1ccfb;
  display: flex;
  flex-direction: column;
  align-self: stretch;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.1px;
  width: 516px;
  margin-top: 16px;
}
#landing-page .fourthInner {
  display: flex;
  align-items: center;
  gap: 80px;
}
#landing-page .startNow {
  background-color: #437EF7;
  color: white;
  padding: 12px 18px;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
  border: transparent;
  border-radius: 6px;
  cursor: pointer;
  display: flex;
  align-items: center;
  -moz-column-gap: 6px;
       column-gap: 6px;
  margin-top: 40px;
}
#landing-page .content {
  margin-top: 64px;
  display: flex;
  align-items: center;
  gap: 140px;
}
@media (max-width: 1440px) {
  #landing-page .first-container {
    width: 100%;
  }
  #landing-page .first-container .header .supercharged {
    width: 662px;
    height: 120px;
  }
  #landing-page .first-container .underHead {
    width: 672px;
    height: 52px;
  }
  #landing-page .first-container .paint .painting {
    width: 656px;
    height: 362px;
    padding: 0px 56px;
    margin-top: -40px;
  }
  #landing-page .secondContainer {
    width: 100%;
  }
  #landing-page .secondContainer .box {
    width: 311px;
  }
  #landing-page .secondContainer .revalAllChannels {
    display: none;
  }
  #landing-page .content {
    display: flex;
    flex-wrap: wrap-reverse;
  }
  #landing-page .content .rightSide {
    margin: auto;
  }
  #landing-page .content .leftSide {
    margin: auto;
  }
  #landing-page .fourthInner {
    display: flex;
    flex-wrap: wrap;
  }
  #landing-page .fourthInner .leftSide2 {
    margin: auto;
  }
  #landing-page .fourthInner .rightSide2 {
    margin: auto;
  }
}
@media (max-width: 768px) {
  #landing-page .first-container .header .supercharged {
    width: 343px;
    height: 88px;
    font-size: 36px;
  }
  #landing-page .first-container .underHead {
    width: 343px;
    height: 104px;
    font-size: 18px;
  }
  #landing-page .first-container .buttonFlex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: -15px;
  }
  #landing-page .first-container .buttonFlex .getStarted {
    width: 343px;
  }
  #landing-page .first-container .buttonFlex .contactUs {
    width: 343px;
  }
  #landing-page .first-container .paint {
    margin-top: -15px;
  }
  #landing-page .first-container .paint .painting {
    width: 343px;
    height: 189px;
    padding: 0px 15.52px 16.78px 16.5px;
  }
  #landing-page .secondContainer .box {
    width: 343px;
  }
  #landing-page .salaryImage {
    width: 343px;
  }
  #landing-page .leftSide .demonstrateBranding {
    width: 343px;
  }
  #landing-page .leftSide .textInContent {
    width: 343px;
  }
  #landing-page .content {
    gap: 32px;
  }
  #landing-page .iconss {
    width: 343px;
  }
  #landing-page .demonstrateBranding2 {
    width: 343px;
  }
  #landing-page .textInContent2 {
    width: 343px;
  }
}/*# sourceMappingURL=main.css.map */