#landing-page {
  background-color: $background-color;
  width: 100%;

  .first-container {
    display: flex;
    width: 100%;

    flex-direction: column;
    align-items: center;
    gap: 48px;
    margin-top: 48px;
    justify-content: center;
  }

  .underHead {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    color: #5f6d7e;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: -0.1px;
    margin-top: 24px;
    width: 900px;
  }

  .supercharged {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    color: #272d37;
    text-align: center;
    font-size: 52px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: -0.52px;

    align-items: center;
    justify-content: center;
    width: 900px;
  }
  .getStarted {
    @include button($primary-color, white, 12px 18px);
    margin-right: 16px;
  }
  .contactUs {
    @include button($background-color, #272d37, 12px 18px);
  }
  .buttonFlex {
    display: flex;
  }
  .paint {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 48px;
    z-index: -1;
  }
  .ourChannel {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    color: gray-700, #272d37;
    text-align: center;
    /* Headline M/Desktop/Bold */
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: -0.64px;
    height: 40px;
    padding-top: 64px;
  }
  .secondContainer {
    //display: flex;
    width: 100%;

    flex-direction: column;
    align-items: center;
    gap: 48px;
    margin-top: 48px;
    //justify-content: center;

    margin-top: -69px;
    background-color: $background-color;
  }
  .underHead2 {
    color: #5f6d7e;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.1px;
    margin-top: 16px;
  }
  .secondHead {
    padding: 0px 32px;
  }

  .showMore {
    @include button($background-color, #272d37, 12px 18px);
    border-radius: 6px;
    border: 1px solid var(--neutral-700, #dae0e6);
  }
  .iconButtonFlex {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .enimNec {
    display: flex;
    flex-direction: column;

    color: var(--gray-50, #5f6d7e);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.1px;
    width: 320px;
  }
  .wireles {
    flex-direction: column;
    align-self: stretch;
    color: #272d37;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: -0.22px;
    margin-top: 24px;
  }
  .allBoxes {
    margin-top: 64px;
    display: flex;
    align-items: center;
    justify-content: center;

    .boxes {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      column-gap: 32px;
      row-gap: 32px;
      .box {
        display: flex;
        padding: 24px 32px;
        flex-direction: column;
        align-items: flex-start;
        border-radius: 5px;
        border: 1px solid #eaebf0;
        background: var(--base-white, #fff);
        box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.04);
        display: inline-block;
        background-color: red;

        // width: 30% !important;
      }
    }
  }

  .showMore {
    @include button($background-color, #272d37, 12px 18px);
    border-radius: 6px;
    border: 1px solid var(--neutral-700, #dae0e6);
  }
  .iconButtonFlex {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .nequeUt {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    color: var(--gray-50, #5f6d7e);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.1px;
    width: 320px;
  }
  .synergestic {
    flex-direction: column;
    align-self: stretch;
    color: #272d37;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: -0.22px;
    margin-top: 24px;
  }

  .showMore {
    @include button($background-color, #272d37, 12px 18px);
    border-radius: 6px;
    border: 1px solid var(--neutral-700, #dae0e6);
  }
  .iconButtonFlex {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .aliquete {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    color: var(--gray-50, #5f6d7e);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.1px;
    width: 320px;
  }
  .distributed {
    flex-direction: column;
    align-self: stretch;
    color: #272d37;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: -0.22px;
    margin-top: 24px;
  }

  .showMore {
    @include button($background-color, #272d37, 12px 18px);
    border-radius: 6px;
    border: 1px solid var(--neutral-700, #dae0e6);
  }
  .iconButtonFlex {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .lacus {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    color: var(--gray-50, #5f6d7e);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.1px;
    width: 320px;
  }
  .seemles {
    flex-direction: column;
    align-self: stretch;
    color: #272d37;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: -0.22px;
    margin-top: 24px;
  }

  .showMore {
    @include button($background-color, #272d37, 12px 18px);
    border-radius: 6px;
    border: 1px solid var(--neutral-700, #dae0e6);
  }
  .iconButtonFlex {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .mauris {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    color: var(--gray-50, #5f6d7e);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.1px;
    width: 320px;
  }
  .revolutionary {
    flex-direction: column;
    align-self: stretch;
    color: #272d37;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: -0.22px;
    margin-top: 24px;
  }
  .revalAllChannels {
    @include button($primary-color, white, 12px 18px);
    margin-bottom: 64px;
  }
  .secondContainer {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .showMore {
    @include button($background-color, #272d37, 12px 18px);
    border-radius: 6px;
    border: 1px solid var(--neutral-700, #dae0e6);
  }
  .iconButtonFlex {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .mauris {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    color: var(--gray-50, #5f6d7e);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.1px;
    width: 320px;
  }
  .web-enabled {
    flex-direction: column;
    align-self: stretch;
    color: #272d37;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: -0.22px;
    margin-top: 24px;
  }
  .thirdContainer {
    margin-top: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #head3 {
    display: flex;
    flex-direction: column;
    //align-self: stretch;
    color: var(--gray-700, #272d37);
    text-align: center;
    /* Headline M/Desktop/Bold */
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: -0.64px;
  }
  #under-head {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    color: var(--gray-50, #5f6d7e);
    text-align: center;
    /* Text L/Regular */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.1px;
  }
  .onePercent {
    color: var(--primary-600, #437ef7);
    /* Text S/Semibold */
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: -0.1px;
  }
  .demonstrateBranding {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    color: #272d37;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 42px;
    letter-spacing: -0.32px;
    width: 516px;
    margin-top: 8px;
  }
  .textInContent {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    color: #5f6d7e;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.1px;
    width: 516px;
    margin-top: 16px;
  }
  .salaryImage {
    width: 100%;
  }
  .fourthContainer {
    background-color: #2b63d9;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 64px;
  }
  .leftSide2 {
    padding: 64px 0px;
  }
  .onePercent2 {
    color: #fff;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: -0.1px;
  }
  .demonstrateBranding2 {
    color: #fff;
    display: flex;
    flex-direction: column;
    align-self: stretch;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 42px;
    letter-spacing: -0.32px;
    width: 516px;
    margin-top: 8px;
  }
  .textInContent2 {
    color: #b1ccfb;
    display: flex;
    flex-direction: column;
    align-self: stretch;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.1px;
    width: 516px;
    margin-top: 16px;
  }
  .fourthInner {
    display: flex;
    align-items: center;
    gap: 80px;
  }
  .startNow {
    @include button($primary-color, white, 12px 18px);
    display: flex;
    align-items: center;
    column-gap: 6px;
    margin-top: 40px;
  }
  .content {
    //margin-top: 64px;
    display: flex;
    align-items: center;
    gap: 140px;
  }
  #blogPost {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    color: #272d37;
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: -0.64px;
  }
  #underBlogPost {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    color: #5f6d7e;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.1px;
  }
  .fifthContainer {
    padding: 64px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .fifthHead {
    margin-bottom: 64px;
  }
  .cards {
    display: flex;
    column-gap: 32px;

    .photos {
      border-radius: 5px;
    }
  }
  .articlee {
    @include button(white, $primary-color, 0px 0px);
  }
  .underDate {
  }
  .article {
    display: flex;
    align-items: center;
    column-gap: 16px;
    padding: 24px 32px;
  }
  .date {
    color: #5f6d7e;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -0.1px;
  }
  .organizeDigital {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    color: #272d37;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: -0.22px;
    width: 320px;
  }
  .leverageText {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    color: #5f6d7e;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.1px;
    width: 320px;
  }
  .learnMore {
    @include button(white, $primary-color, 0px 0px);
    display: flex;
    align-items: center;
    column-gap: 6px;
  }
  .customerSays {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    color: var(--gray-700, #272d37);
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: -0.64px;
  }
  .sixthPage {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .organically {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    color: var(--gray-50, #5f6d7e);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.1px;
    width: 100%;
  }
  .repurpose {
    align-self: stretch;
    color: var(--gray-700, #272d37);

    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.1px;
  }
  .avatarFlex {
    display: flex;
    align-items: center;
    column-gap: 116px;
    padding: 64px 0px;
  }
  .credit {
    display: flex;
    justify-content: center;
  }

  @include for-type(tablet) {
    .first-container {
      width: 100%;
      .header .supercharged {
        width: 662px;
        height: 120px;
      }
      .underHead {
        width: 672px;
        height: 52px;
      }
      .paint {
        .painting {
          width: 656px;
          height: 362px;
          padding: 0px 56px;
          margin-top: -40px;
        }
      }
    }

    .secondContainer {
      width: 100%;
      .box {
        width: 311px;
      }
      .revalAllChannels {
        display: none;
      }
    }
    .content {
      display: flex;
      flex-wrap: wrap-reverse;

      .rightSide {
        margin: auto;
      }
      .leftSide {
        margin: auto;
      }
    }
    .fourthInner {
      display: flex;
      flex-wrap: wrap;
      .leftSide2 {
        margin: auto;
      }
      .rightSide2 {
        margin: auto;
      }
    }
    .fifthContainer .cards {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      padding: 0px 32px;
    }

    .leverageText {
      width: 100%;
    }
    .photos {
      width: 336px;
    }
    .underDate {
      width: 336px;
    }
    .fifthHead {
      width: 704px;
      margin: auto;
    }

    .sixthPage .sixthHead {
    }
    .organically {
      display: flex;
    }
    .avatars {
      width: 209px;
    }
    .avatarFlex {
      display: flex;
      justify-content: center;
      width: 704px;
      margin: auto;
      .imgg {
        width: 180px;
      }
    }
    .cards {
      row-gap: 32px;
      display: flex;
      justify-content: center;
    }
  }
  @include for-type(mobile) {
    .first-container {
      .header .supercharged {
        width: 343px;
        height: 88px;
        font-size: 36px;
      }
      .underHead {
        width: 343px;
        height: 104px;
        font-size: 18px;
      }

      .buttonFlex {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: -15px;
        .getStarted {
          width: 343px;
        }
        .contactUs {
          width: 343px;
        }
      }
      .paint {
        margin-top: -15px;
        .painting {
          width: 343px;
          height: 189px;
          padding: 0px 15.52px 16.78px 16.5px;
        }
      }
    }
    .secondContainer {
      .box {
        width: 343px;
      }
    }
    .salaryImage {
      width: 343px;
    }
    .leftSide {
      //width: 100%;
      .demonstrateBranding {
        width: 343px;
      }
      .textInContent {
        width: 343px;
      }
    }
    .content {
      gap: 32px;
    }
    .iconss {
      width: 343px;
    }
    .demonstrateBranding2 {
      width: 343px;
    }
    .textInContent2 {
      width: 343px;
    }
    .photos {
      width: 343px;
    }
    .underDate {
      width: 343px;
    }
    .fifthHead {
      width: 343px;
      margin: auto;
    }
    .avatarFlex {
      display: flex;
      flex-wrap: wrap;
      width: 343px;
      row-gap: 32px;
    }
    .sixthHead {
      width: 343px;
      margin: auto;
    }
  }
}
